#logo_partager{
    width: 28px;
    height: 32px;
}

#logo_loupe{
    width: 50px;
    height: 39px;
}

.bouton_header{
    width: 100px;
    height: 66px;
    border: none;
}

#titre_header{
    width: 100px;
}