#logo_partager{
    width: 28px;
    height: 32px;
}

#logo_loupe{
    width: 50px;
    height: 39px;
    margin-left: 250px;
}

.page1{
    background-image:url("img/fond_1.webp");
    width: 1850px;
    height: 900px;
    margin-top: 20px;
    margin-left: 19px;
}

.bouton_header{
    width: 130px;
    height: 66px;
    border: none;
    margin: 50px 15px 15px 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#titre_header{
    margin: 175px;
    font-size: 50px;
    font-family: ZonaPro;
}

a{
    text-decoration: none;
    text-decoration-color: white;
}

.Boutonp1{
    margin-top: 235px;
    font-size: 20px;
    padding: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#texte_background{
    margin-top: 200px;
    margin-left: 150px;
    font-size: 75px;
}
