body{
    margin: 0px 0px 0px 0px;
}

#logo_loupe{
    position: absolute; 
    width: 20px;
    height: 20px;
    margin-left: 390px;
    margin-top: 100px;
}

/* ----------------- Page 1 -----------------*/

.page1{
    background-image:url("img/fond1.jpg");
    background-size: cover;
    width: 1880px;
    height: 900px;
    margin: 19px 20px 19px 20px;
    position: relative;
    transition: background-image 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

#titre_header{
    margin: 125px;
    font-size: 70px;
    font-family: sans-serif;
    color: white;
    user-select: none;
}

.bouton_header{
    width: 130px;
    height: 66px;
    border: none;
    margin: 75px 0px 0px 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-family: sans-serif;
}

#texte_background{
    margin-top: 200px;
    margin-left: 125px;
    font-size: 100px;
    color: white;
    font-family: sans-serif;
    user-select: none;
}

.Boutonp1{
    margin-top: 102.5px;
    font-size: 20px;
    padding: 45px 75px;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-family: sans-serif;
    position: absolute;
    user-select: none ;
    transition: 0.5s ease;
    opacity: 1;
}

#buttonP1_1{
    bottom: 0;
}
#buttonP1_2{
    bottom: 0;
    margin-left: 293.34px;
}
#buttonP1_3{
    bottom: 0;
    margin-left: 515.56px;
}
#buttonP1_4{
    bottom: 0;
    margin-left: 811.14px;
}

#carre_coin{
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px 15px 15px;
}

.p1_coin{
    margin: 0px 10px 0px 10px;
}

#flechecoin{
    margin-right: 0px;
}

#img_blacn_coin{
    
}


/* ----------------- Page 2 -----------------*/